@model List<AppUser>


    <a asp-action="Create" asp-controller="User">Yeni kullanıcı ekle</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
    </table>